@font-face {
    font-family: "computer";
    src: url("VCR_OSD_MONO_1.001.ttf");
}

* {
    font-family: computer;
}

body {
    background: rgb(6, 6, 6);
    margin: 0;
}

.nav__botao {
    background: rgb(51, 255, 0);
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

.nav__botao:hover {
    background: rgb(44, 219, 0);
}

.pointer {
    color: rgb(51, 255, 0);
}

.iniciar {
    overflow: hidden;
    padding: 10px 50px;
    border-radius: 2px
}

.conteudo {
    width: 80%;
    border: 4px solid rgb(51, 255, 0);
    height: 0px;
    border-radius: 2px;
}

.browse {
    width: 10%;
    text-align: center;
}

.browse a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(51, 255, 0);
}
.browse a:hover{
    cursor: pointer;
    color: rgb(44, 219, 0)
}