.about {
    display: none;
    margin: -110px auto;
    width: 615px;
    color: white;
    font-family: "Neue Montreal";
    font-size: 25px;
    border-radius: 5px;
    padding: 25px 35px 25px 35px
}

.about h2 {
    /* display: none; */
    opacity: 0;
    margin-bottom: 10px;
    color: rgb(153, 153, 153);
    font-family: "Neue Montreal Medium";
    font-size: 13px;
    text-transform: uppercase;
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-card {
    width: 50%;
    padding-right: 15px;
    display: flex;
    opacity: 0;
    margin-bottom: 10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(121, 121, 121, 0.5);
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    flex-wrap: wrap;
    max-width: 285px;
}

.about-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-git {
    display: flex;
    text-decoration: none;
    color: white
}

.about-git span {
    padding-bottom: 3px;
    border-bottom: 0.5px dashed rgb(185, 185, 185);
}

.about-card i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    font-size: 35px;
}

.about-card small {
    color: rgb(153, 153, 153);
    font-size: 16px;
}

.fa.fa-graduation-cap {
    font-size: 30px;
    text-decoration: none !important;
}

/* .about-sidebar {
    background: white;
    position: absolute;
    height: 100%;
    width: 2px;
    right: -33px;
    border-radius: 5px;
} */

@media(max-width: 1100px) {
    .about {
        zoom: 70%
    }
}

@media (max-width: 800px) {
    .about {
        zoom: 60%
    }
}

@media (max-width: 700px) {
    .about {
        width: 705px;
        padding: 0;
        zoom: 50%;
        position: relative;
        margin: 40px auto
    }

    .about-card {
        max-width: 328px;
    }

    .about-card-text h3 {
        font-size: 25px;
        margin-bottom: 5px
    }

    .about-card-text small {
        font-size: 19px;
    }
}

@media (max-width: 480px) {
    .about-card {
        margin-bottom: 18px;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 460px) {
    .about {
        width: 100%;
        top: 300px;
        margin: 40px 0 0 0;
        height: fit-content;
        position: absolute;
        /* width: fit-content; */
    }
}