.main-container {
    border: 1px solid var(--gray);
    opacity: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .content {
    width: calc(100% - var(--padding-main) * 2);
    height: calc(100% - var(--padding-main) * 2);
    /* background: pink */
}