.menu {
    color: white;
    font-family: "Neue Montreal", sans-serif;
    width: fit-content;
    /* z-index: 2; */
    position: relative;
    user-select: none;
}

.menu h1 {
    font-size: 64px;
    margin-bottom: 10px
}

.menu h2 {
    font-size: 16px;
}

.presentation {
    margin-bottom: 60px;
}

.menu nav,
.menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
}

.navigation-item {
    width: fit-content;
    height: fit-content;
    z-index: 5;
}

.navigation-item a {
    font-family: "neue montreal medium", sans-serif;
    cursor: pointer;
    transition: color .3s ease-in-out;
    display: flex;
}

.navigation-item a p {
    margin-right: 5px;
}

.navigation-item a:hover {
    color: var(--gray);
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker * {
    /* display: none; */
    justify-content: center;
    align-items: center;
    height: 5px;
    width: 9px;
}

.visible-marker {
    display: flex;
}

.hidden-marker {
    display: none
}


/* Responsividade: Telas médias (Tablet, monitores pequenos) */
@media (min-width: 801px) and (max-width: 1100px) {
    .projects-container {
        zoom: 85%;
    }

    .project-display {
        zoom: 85%;
    }
}

/* Responsividade: Telas pequenas (Smartphones) */
@media (max-width: 800px) {
    .projects-container {
        zoom: 70%;
        top: 230px !important;
        right: 0px !important;
        z-index: 3;
    }

    .projects-list {
        width: 745px;
    }

    .project-display {
        zoom: 62%;
        transform: translateY(290px) !important;
        z-index: 4
    }

    .description-content span {
        font-size: 23px;
        line-height: 25px;
    }

    .technologies {
        zoom: 150%;
    }
}

@media (max-width: 600px) {
    .navigation-item a:hover {
        color: white
    }
}

@media (max-width: 460px) {
    .main-container .content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu {
        width: 100%;
    }

    .menu nav ul {
        flex-direction: row;
        justify-content: space-between;
        width: 100%
    }

    .presentation {
        margin-bottom: 30px
    }

    .presentation h1 {
        font-size: 40px;
    }

    .projects-container {
        position: relative !important;
        zoom: 50%;
        top: 0px !important;
        z-index: 3;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .projects-list {
        width: 100% !important;
        flex-direction: column;
        padding: 30px 0 0 0;
    }

    .project-display {
        display: flex !important;
        justify-content: flex-start !important;
        width: 100% !important;
        zoom: 44%;
        transform: translateY(515px) !important;
        z-index: 4;
        position: absolute !important;
        right: 0 !important;
        height: fit-content;
    }

    .description-content span {
        font-size: 30px;
        line-height: 30px;
        /* text-align: center; */
    }
}

@media (max-width: 340px){
    .navigation-item a p{
        font-size: 12px;
    }
}

@media (max-width: 325px){
    .presentation h1{
        font-size: 31px
    }
}