.menu {
    color: white;
    font-family: "Neue Montreal", sans-serif;
    width: fit-content;
    z-index: 2;
    position: relative;
}

.menu h1 {
    font-size: 64px;
    margin-bottom: 10px
}

.menu h2 {
    font-size: 16px;
}

.presentation {
    margin-bottom: 60px;
}

.menu nav,
.menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
}

.navigation-item a {
    font-family: "neue montreal medium", sans-serif;
    cursor: pointer;
    transition: color .3s ease-in-out;
    display: flex;
}

.navigation-item a p {
    margin-right: 5px;
}

.navigation-item a:hover {
    color: var(--gray);
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker * {
    /* display: none; */
    justify-content: center;
    align-items: center;
    height: 5px;
    width: 9px;
}

.visible-marker {
    display: flex;
}

.hidden-marker{
    display: none
}