.menu {
    color: white;
    font-family: "Neue Montreal", sans-serif;
    width: fit-content;
    z-index: 2;
    position: relative;
}

.menu h1 {
    font-size: 64px;
    margin-bottom: 10px
}

.menu h2 {
    font-size: 16px;
}

.presentation {
    margin-bottom: 60px;
}

.menu nav,
.menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
}

.navigation-item {
    width: fit-content
}

.navigation-item a {
    font-family: "neue montreal medium", sans-serif;
    cursor: pointer;
    transition: color .3s ease-in-out;
    display: flex;
}

.navigation-item a p {
    margin-right: 5px;
}

.navigation-item a:hover {
    color: var(--gray);
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker * {
    /* display: none; */
    justify-content: center;
    align-items: center;
    height: 5px;
    width: 9px;
}

.visible-marker {
    display: flex;
}

.hidden-marker {
    display: none
}


/* Responsividade: Telas médias (Tablet, monitores pequenos) */
@media (min-width: 801px) and (max-width: 1100px) {
    .projects-container {
        zoom: 85%;
    }

    .project-display{
        zoom: 85%;
    }
}

/* Responsividade: Telas pequenas (Smartphones) */
@media (max-width: 800px) {
    .projects-container {
        zoom: 70%;
        top: 255px !important;
        right: 0px !important;
        z-index: 3;
    }

    .projects-list {
        width: 745px;
    }

    .project-display {
        zoom: 62%;
        transform: translateY(275px);
        z-index: 4
    }

    .description-content span{
        font-size: 23px;
        line-height: 25px;
    }
}

@media (max-width: 460px) {
    .presentation h1{
        font-size: 40px;
    }

    .projects-container{
        zoom: 50%;
        top: 330px !important;
        right: 0px !important;
        z-index: 3
    }

    .projects-list {
        width: 745px;
    }

    .project-display {
        zoom: 44%;
        transform: translateY(355px);
        z-index: 4;
    }

    .description-content span{
        font-size: 30px;
        line-height: 30px;
    }
}