.projects-list *>*{
    user-select: none;
}

.projects-container {
    /* background: red; */
    position: absolute;
    height: 100%;
    width: 800px;
    right: 50px;
    top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects-container::-webkit-scrollbar {
    width: 1.5px;
    border-radius: 100px;
}

.projects-container::-webkit-scrollbar-track {
    background: transparent
}

.projects-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.39);
    border-radius: 100px;
}


.project-item {
    color: white;
    font-family: "Neue Montreal";
    text-transform: uppercase;
    font-size: 65px;
    padding: 10px 1px 0 0;
    margin-bottom: 10px;
    line-height: 65px;
    text-align: left;
    width: 400px;
    opacity: 0;
    animation-delay: 2.75s;
}

.project-item.hoverable:hover {
    cursor: pointer;
    text-shadow: 0px 0px 0 rgb(255 255 255),
        1px 1px 0 rgb(255 255 255),
        2px 2px 0 rgb(212, 212, 212),
        3px 3px 2px rgb(197, 197, 197);
    transition: color 0.3s ease;
    transform: perspective(109px) translate3d(-13px, 1px, 16px) !important;
}

.projects-list {
    flex-wrap: wrap;
    height: fit-content;
    width: 800px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    transform-origin: center center;
    transform: rotateX(-12deg) rotateY(-33deg);
}