.project-display {
    width: 400px;
    right: 50px;
    position: absolute;
    top: 135px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies {
    width: 400px;
    height: fit-content;
    max-width: 400px;
    display: flex;
    /* justify-content: ; */
    flex-wrap: wrap;
}

.technologies li {
    margin-right: 5px;
    margin-bottom: 3px;
    color: white;
    font-family: "Neue Montreal";
}

.project-description {
    width: 400px;
    margin-top: 15px;
    color: white;
}

.description-content {
    letter-spacing: 1px;
    font-family: "Neue Montreal";
    font-size: 17px;
    line-height: 22px;
    text-align: left;
}

.description-content span {
    display: block;
}

.spacer {
    opacity: 0;
    width: 100%;
    height: 1px;
    background: white;
    border-radius: 19px;
    margin-top: 25px;
}

.buttons {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.buttons a {
    opacity: 0;
    width: 47%;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.project-access img {
    width: 31px;
    fill: white
}

.project-code img {
    width: 31px;
}

.back-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    /* display: flex; */
}

.back-button {
    opacity: 0;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: "Neue Montreal";
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid white
}