.projects-container {
    /* background: red; */
    position: absolute;
    height: 100%;
    right: 80px;
    top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects-container-show {
    animation: projectsContainerSlideIn ease-in-out forwards;
}

@keyframes projectsContainerSlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.projects-container-hide {
    animation: projectsContainerSlideOut ease-in-out forwards;
}

@keyframes projectsContainerSlideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}


.projects-container::-webkit-scrollbar {
    width: 1.5px;
    border-radius: 100px;
}

.projects-container::-webkit-scrollbar-track {
    background: transparent
}

.projects-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.39);
    border-radius: 100px;
}


.project-item {
    color: white;
    font-family: "Neue Montreal";
    text-transform: uppercase;
    font-size: 65px;
    padding: 10px 15px 0 0;
    margin-bottom: 10px;
    line-height: 65px;
    text-align: left;
    width: 400px;
    opacity: 0;
    animation-delay: 2.75s;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    cursor: pointer;
    /* text-shadow: rgb(255, 255, 255) 1px 0px 0px,
        rgb(255, 255, 255) 1.75517px 0.958851px 0px,
        rgb(255, 255, 255) 1.0806px 1.68294px 0px,
        rgb(255, 255, 255) 0.141474px 1.99499px 0px,
        rgb(255, 255, 255) -0.832294px 1.81859px 0px,
        rgb(255, 255, 255) -1.60229px 1.19694px 0px,
        rgb(255, 255, 255) -1.97998px 0.28224px 0px,
        rgb(255, 255, 255) -1.87291px -0.701566px 0px,
        rgb(255, 255, 255) -1.30729px -1.5136px 0px,
        rgb(255, 255, 255) -0.421591px -1.95506px 0px,
        rgb(255, 255, 255) 0.567324px -1.91785px 0px,
        rgb(255, 255, 255) 1.41734px -1.41108px 0px,
        rgb(255, 255, 255) 1.92034px -0.558831px 0px !important; */
    /* color: var(--background); */
    transition: color 0.3s ease;
    transform: perspective(109px) translate3d(-13px, 1px, 16px) !important;
}

.project-item a:hover {
    /* text-shadow: 2px 2px 2px rgba(255,255,255,1); */
    text-shadow: 0px 0px 0 rgb(255 255 255),
        1px 1px 0 rgb(255 255 255),
        2px 2px 0 rgb(212, 212, 212),
        3px 3px 2px rgb(197, 197, 197)
}


.project-item-active {
    animation: projectsSlideIn 1s ease-in-out forwards;
}


@keyframes projectsSlideIn {
    0% {
        transform: perspective(500px) translate3d(0, -110%, 0) rotateY(-90deg);
        opacity: 0;
    }

    35% {
        opacity: 0
    }

    100% {
        transform: perspective(500px) translate3d(0, 0, 0) rotateY(-0deg);
        opacity: 1;
    }
}

.project-item-hide {
    animation: projectsSlideOut 1s ease-in-out forwards;
}

@keyframes projectsSlideOut {
    0% {
        transform: perspective(500px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }

    55% {
        opacity: 0
    }

    100% {
        transform: perspective(500px) translate3d(0, -110%, 0) rotateY(-90deg);
        opacity: 0;
    }
}

.projects-list {
    flex-wrap: wrap;
    height: fit-content;
    width: 800px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    transform-origin: center center;
    /* transform: rotate3d(0.5, -1, 0.1, -71deg) rotate(97.5deg) rotateY(252deg) rotateX(-85deg) !important; */
    /* transform: rotate3d(0.5, -1, 0.21, -72deg) rotate(127.5deg) rotateY(262deg) rotateX(-126deg) !important; */
    transform: rotateX(-12deg) rotateY(-33deg) !important;
}


@keyframes projectsListSlideIn {
    0% {
        transform: perspective(500px) rotateY(-90deg)
    }

    60% {
        transform: perspective(500px) rotateY(-60deg)
    }

    100% {
        transform: perspective(500px) rotateY(-15deg) rotateZ(-0deg) rotateX(10deg)
    }
}