.project-display {
    width: 400px;
    right: 50px;
    position: absolute;
    top: 135px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies {
    width: 400px;
    height: fit-content;
    max-width: 400px;
    display: flex;
    /* justify-content: ; */
    flex-wrap: wrap;
}

.technologies li {
    margin-right: 5px;
    margin-bottom: 3px;
    color: white;
    font-family: "Neue Montreal";
}

.project-description {
    width: 400px;
    margin-top: 15px;
    color: white;
}

.description-content {
    letter-spacing: 1px;
    font-family: "Neue Montreal";
    font-size: 17px;
    line-height: 22px;
    text-align: left;
}

.description-content span {
    display: block;
}

.spacer {
    opacity: 0;
    width: 100%;
    height: 1px;
    background: white;
    border-radius: 19px;
    margin-top: 25px;
}

.buttons {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.buttons a {
    opacity: 0;
    width: 47%;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

/* 
.project-access img {
    width: 31px;
    fill: white
}

.project-code img {
    width: 31px;
} */

.access,
.code {
    width: 31px;
    height: 31px;
    z-index: 1;
    position: relative;
}

.access::before {
    mask-image: url("/images/icons/play.svg");
    content: "";
    position: absolute;
    width: inherit;
    mask-size: 31px;
    height: inherit;
    background: var(--btn-background-color);
}

.code::before {
    mask-image: url("/images/icons/github-mark-white.svg");
    content: "";
    position: absolute;
    width: inherit;
    mask-size: 31px;
    height: inherit;
    background: var(--btn-background-color);
}

.button-animation-block {
    overflow: hidden;
    mask-size: 31px;
    position: absolute;
    width: 31px;
    height: 31px;
}

.access .button-animation-block {
    mask-image: url("/images/icons/play.svg");
}

.code .button-animation-block {
    mask-image: url("/images/icons/github-mark-white.svg");
}



.button-animation-block::before {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background: black;
    transform: rotate(-45deg);
    left: var(--btn-animation-block);
    top: 8px
}


.button-background {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: revert-layer;
    background: white
}

.back-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.back-button {
    opacity: 0;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: "Neue Montreal";
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid white
}