.welcome {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}

.welcome,
.welcome-text {
    align-items: center;
    display: flex;
    color: white;
    font-family: "Neue Montreal";
}

.welcome-text {
    width: 350px;
    font-size: 40px;
    justify-content: space-around;
}

.welcome-text .name {
    animation: fadeOut .5s ease-in-out forwards;
    animation-delay: 1s;
    font-weight: 600;
}

.welcome-text .title {
    animation: fadeOut .5s ease-in-out forwards;
    animation-delay: 1.25s;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}