*{
    -webkit-user-drag: none;
    user-select: none;
}

body{
    margin: 0;
    height: fit-content;
    overflow: hidden;
}

main {
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}