/*
    Esse arquivo controla a estilização geral da parte inicial do site.
*/
html {
    height: 100% !important;
    position: relative;
}

html::before {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
}

body {
    height: 100%;
    background: black;
    font-family: computer !important;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    ;
}

/* Bloco geral */
.bloco {
    width: 735px;
    margin: 125px auto;
    display: flex;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100;
}

/* Sessão titulo */
.bloco__titulo {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: var(--green);
    font-size: 26px;
}

.slider {
    margin: 1px 4px
}



/* Sessão nav */

.bloco__nav {
    color: var(--green);
    width: 100%;
    height: 45px;
    margin-top: 15px
}

.bloco__nav nav {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    text-align: center;
}

.nav__botao,
.nav__botao_on {
    background: var(--green);
    border-radius: 4px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-family: computer;
}

.nav__botao_on {
    width: 103px;
    height: 41px;
}

.nav__botao:hover,
.nav__botao_on:hover {
    background: var(--darkgreen)
}