/*
Esse arquivo é responsável pela estilização da janela e
também do repositório.

*/

.bloco__janela {
    margin: 20px auto;
    color: var(--green);
    display: flex;

}

.bloco__janela .off>* {
    display: none !important;
    height: 0;
    width: 0;
}

.browse {
    opacity: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.browse a:hover {
    cursor: pointer;
    color: var(--darkgreen);
    font-size: 39px;
    transition: .5s;
}

.portas {
    display: flex;
    width: inherit;
    height: inherit;
    position: absolute;
}

.porta {
    width: 50%;
    height: 100%;
    background: var(--green);
}

.repositorio {
    /* width: 636px;
    height: 658px; */
    height: 0px;
    width: 0px;
    border: 4px solid var(--green);
    border-radius: 4px;
    background: black;
    display: flex;
    align-items: center;
}

.conteudo{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 90%;
}

.repositorio__imagem{
    width: 500px;
    height: 300px;
    border: 4px solid var(--green);
    border-radius: 3px;
}

.repositorio__descricao{
    width: 500px;
    height: 185px;
    border: 4px solid var(--green);
    border-radius: 3px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.repositorio__descricao p{
    width: 95%
}

.repositorio button{
    background: var(--green);   
    border-radius: 4px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-family: computer;
    width: 160px;
    height: 50px;
}

.repositorio button:hover{
    background: var(--darkgreen)
}