.show {
    opacity: 100%;
}

.hidden {
    opacity: 0;
}

.break {
    flex-basis: 100%;
    height: 1px;
}

.open {
    animation: iniciaBotao 0.4s;
}

.close {
    animation: finalizaBotao 0.5s;
}
.boxOpen{
    animation: openContent 0.5s ease-in;
}
.openHeight{
    animation: openHeight 0.5s linear;
}
.goSide{
    animation: marginLeft 0.5s linear;
}

@keyframes iniciaBotao {
    0% {
        padding: 0
    }

    100% {
        padding: 10px 50px
    }
}

@keyframes finalizaBotao {
    100% {
        padding: 0
    }

    0% {
        padding: 10px 50px
    }
}
@keyframes openContent{
    0%{
        width: 0px;
    }
    100%{
        
        width: 680px;
    }
}
@keyframes openHeight {
    0%{
        height: 0px;
    }
    100%{
        height: 650px;
    }
}

@keyframes marginLeft{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 642px;
    }
}